**/*.o
**/*.exe
qkmjclient/qkmj
qkmjserver/mjgps
qkmjserver/mjrec
autom4te.cache
Makefile
.deps/
.libs/
**/*.lo
**/*.la
**/*.Plo
**/*.pc
**/*.dSYM/
*~
config.log
config.status
.dirstamp
qkmj
mjgps
mjrec
build/
CMakeFiles/
**/__pycache__/
firebase-debug.log
Testing/
CMakeCache.txt
agent/version.py

.gemini/
gha-creds-*.json
.adk/
.terraform/
