**/*.o
**/*.exe
qkmjclient/qkmj
qkmjserver/mjgps
qkmjserver/mjrec
autom4te.cache
Makefile
**/Makefile
**/Makefile.in
.deps/
.libs/
**/*.lo
**/*.la
**/*.Plo
**/*.pc
**/*.dSYM/
*~
config.log
config.status
.dirstamp
qkmj
mjgps
